################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/rrt/v16/.suo
/.vs
/src/__pycache__
*.pyc
